@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

nav {
  margin: 0;
  width: 100%;
  max-height: auto;
  background-color: rgb(3, 34, 60);
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: rgb(168, 9, 9);
  text-decoration: none;
}

.productsNav {
  width: 70%;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.productsNav a {
  font-size: 20px;
  width: 300px;
  height: 50px;
  background-color: rgb(11, 167, 229);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
.linkNav {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.linkNav:hover {
  color: rgb(169, 42, 186);
  font-size: 25px;
}

.linkproperties {
  color: rgb(120, 57, 57);
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
}
.linkproperties1 {
  margin: auto;
  background-color: rgb(11, 167, 229);
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 20px;
}

.linkproperties:hover {
  color: rgb(9, 235, 133);
}

.linkproperties1:hover {
  color: rgb(9, 235, 133);
}

.listOfProducts {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.productsList {
  columns: 3 auto;
  display: inline-block;
}

.productDisplay {
  width: 300px;
  height: 300px;
  background-color: rgb(134, 88, 88);
  cursor: pointer;
}

.roomfac {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  justify-content: center;
}

.roomcontact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  width: 100%;

  margin: auto;
  justify-content: center;
}

.card {
  margin: 20px;
  background-color: aliceblue;
}

.me-0 {
  padding: 1%;
  margin: 10px;
}

.me-1 {
  padding: 1%;
  margin: 10px;
}

.me-2 {
  padding: 1%;
  margin: 10px;
}

hr.style1 {
  border-top: 6px double #433f3f;
  width: 100%;
}

h2.filterFormh2 {
  text-align: center;
  padding-bottom: 0%;
  margin: auto;
}

.filterForm {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding-top: 0%;
}

.submitBtn {
  background-color: #11be7e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.drop-1,
.drop-2,
.drop-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resetBtn {
  width: 60%;
  background-color: rgb(48, 138, 198);
}
h5 {
  color: black;
  margin: 0% !important;
}
.styleh3 {
  display: block;
  text-align: center;
  margin-left: 2%;
}
p {
  color: rgb(182, 113, 24) !important;
}

.home {
  height: 100vh;
}

.filterZone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #7f1414;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
/* addProperty form*/
form {
  max-width: 400px;
  margin: auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

p {
  color: #fefefe;
}

input {
  display: block;
  box-sizing: border-box;
  width: 70%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  background: #b7ddee;
  color: rgb(46, 43, 43);
}

select {
  display: block;
  box-sizing: border-box;
  width: 70%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  background: #b7ddee;
  color: rgb(79, 75, 75);
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: #0e98cf;
  color: rgb(46, 43, 43);
  border: none;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 4px;
}
