@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* || General styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
    "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

nav {
  margin: 0;
  width: 100%;
  background-color: rgb(3, 34, 60);
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  color: rgb(168, 9, 9);
  text-decoration: none;
}

a {
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

p {
  color: rgb(16, 15, 15);
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
/* Nested Menu List Properties */

.productsNav {
  width: 70%;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.productsNav a {
  font-size: 20px;
  width: 200px;
  height: 40px;
  background-color: rgb(11, 167, 229);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.linkNav {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: sans-serif;
}

.linkNav:hover {
  color: rgb(169, 42, 186);
  font-size: 25px;
}

.linkproperties {
  color: rgb(120, 57, 57);
  font-size: 15px;
}

.linkproperties1 {
  margin: auto;
  background-color: rgb(11, 167, 229);
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 17px;
}

.linkproperties:hover {
  color: rgb(0, 0, 0);
}

.linkproperties1:hover {
  color: rgb(0, 7, 4);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 95%;
  max-width: 195%;
  margin:0 auto;
  
}
.displayCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  max-width: 195%;
  margin:0 auto;
}
.searchMenu {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 95%;
  max-width: 195%;
  margin:0 auto;
}

.card {
  margin: 20px;
  background-color: rgba(182, 182, 182, 0.279) !important;
}

hr.style1 {
  border-top: 6px double #433f3f;
  width: 100%;
}

.drop-1,
.drop-2,
.drop-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styleh3 {
  display: block;
  text-align: center;
  margin-left: 2%;
}

.home {
  height: 100vh;
}

table {
  width: 800px;
  height: 100vh;
  overflow: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #7f1414;
}

th {
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

/* addProperty form*/
form {
  max-width: 400px;
  margin: auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  background: #ffffff;
  color: rgb(46, 43, 43);
}

select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

button[type="submit"],
input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bf1650;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

.striped-table {
  width: 100%;
  border-collapse: collapse;
}

.striped-table th,
.striped-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.striped-table th {
  background-color: #2d99e1;
}

.striped-table .even-row {
  background-color: #d1cccc;
}

.striped-table .odd-row {
  background-color: #ffffff;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.sticky th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .searchMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}
