@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(3, 34, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(168, 9, 9);
  text-decoration: none;
}

a {
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
.linkNav {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-right: 10%;
  margin-left: 10%;
}

.linkNav:hover {
  color: rgb(169, 42, 186);
  font-size: 25px;
}

.linkproperties {
  color: rgb(120, 57, 57);
  font-size: 25px;
  margin-right: 10%;
  margin-left: 10%;
}
.linkproperties1 {
  margin: auto;
  background-color: rgb(11, 167, 229);
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 20px;
}

.linkproperties:hover {
  color: rgb(9, 235, 133);
}

.linkproperties1:hover {
  color: rgb(9, 235, 133);
}

.productsNav {
  width: 70%;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.productsNav a {
  font-size: 20px;
  width: 300px;
  height: 50px;
  background-color: rgb(11, 167, 229);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.listOfProducts {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.productsList {
  columns: 3 auto;
  display: inline-block;
}

.productDisplay {
  width: 300px;
  height: 300px;
  background-color: rgb(134, 88, 88);
  cursor: pointer;
}

.roomfac {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  justify-content: center;
}

.card {
  margin: 20px;
}

.me-0 {
  padding: 1%;

  margin: 10px;
  
}

.me-1 {
  
  padding: 1%;

  margin: 10px;
  
}

.me-2 {
  padding: 1%;

  margin: 10px;
  


  
}

hr.style1 {
  border-top: 6px double #433f3f;
  width: 100%;
}

h2.filterFormh2 {
  text-align: center;
  padding-bottom: 0%;
  margin: auto;
}

.filterForm {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding-top: 0%;
}

.btnViewPro {
  width: auto;
}

.submitBtn {
  background-color: #11be7e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.drop-1,
.drop-2,
.drop-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resetBtn {
  width: 60%;
  background-color: rgb(48, 138, 198);
}
h5 {
  color: black;
}
